# The other ML notebook contains the means to get the data from the SQL Workbench
## This has been made into a CSV for the means of running tests on different models

In [1]:
import numpy as np
import pandas as pd
# read in data from csv file to pandas dataframe.  
df_46A = pd.read_csv('df_46A.csv',  keep_default_na=True, sep=',\s+', delimiter=',', skipinitialspace=True)
df_wd = pd.read_csv('weather_data_final.csv',  keep_default_na=True, sep=',\s+', delimiter=',', skipinitialspace=True)

In [2]:
df_46A.shape

(241967, 15)

In [3]:
df_46A.head(5)

,DateTime,Sequence,StopID,Planned_Arr,Actual_Arr,Actual_Depart,Extracted_Date,Day,Day_Friday,Day_Monday,Day_Saturday,Day_Sunday,Day_Thursday,Day_Tuesday,Day_Wednesday
0,24-DEC-18 00:00:00,14,6059,54291,54158,54244,24-DEC-18,Monday,0,1,0,0,0,0,0
1,24-DEC-18 00:00:00,15,334,54462,54348,54401,24-DEC-18,Monday,0,1,0,0,0,0,0
2,24-DEC-18 00:00:00,16,406,54728,54588,54646,24-DEC-18,Monday,0,1,0,0,0,0,0
3,24-DEC-18 00:00:00,17,747,54875,54773,54820,24-DEC-18,Monday,0,1,0,0,0,0,0
4,24-DEC-18 00:00:00,18,842,54961,54964,54983,24-DEC-18,Monday,0,1,0,0,0,0,0

In [4]:
df_wd.shape

(21686, 8)

### Right, now let's add the weather data and organize the new input features

In [5]:
df_wd.head(5)

,hourly_data_time,hourly_data_precip_intensity,hourly_data_precip_probability,hourly_data_apparent_temperature,hourly_data_wind_speed,hourly_data_cloud_cover,hourly_data_uv_index,hourly_data_visibility
0,2017-01-01 00:00:00,0.0,0.0,39.72,7.03,0.75,0.0,6.216
1,2017-01-01 01:00:00,0.0,0.0,39.79,3.84,0.75,0.0,5.049
2,2017-01-01 02:00:00,0.0,0.0,38.21,5.91,0.75,0.0,6.216
3,2017-01-01 03:00:00,0.0,0.0,37.28,7.53,0.75,0.0,6.216
4,2017-01-01 04:00:00,0.0,0.0,35.74,6.47,0.75,0.0,6.216

In [6]:
df_wd.rename({'hourly_data_time':'DateTime','hourly_data_precip_intensity':'Precip Intensity',
             'hourly_data_precip_probability':'Precip Prob', 'hourly_data_apparent_temperature':'Temperature',
             'hourly_data_wind_speed':'Wind Speed', 'hourly_data_cloud_cover':'Cloud Cover',
             'hourly_data_uv_index':'UV Index','hourly_data_visibility':'Visibility'},axis=1,inplace=True)

In [7]:
df_wd.head(5)

,DateTime,Precip Intensity,Precip Prob,Temperature,Wind Speed,Cloud Cover,UV Index,Visibility
0,2017-01-01 00:00:00,0.0,0.0,39.72,7.03,0.75,0.0,6.216
1,2017-01-01 01:00:00,0.0,0.0,39.79,3.84,0.75,0.0,5.049
2,2017-01-01 02:00:00,0.0,0.0,38.21,5.91,0.75,0.0,6.216
3,2017-01-01 03:00:00,0.0,0.0,37.28,7.53,0.75,0.0,6.216
4,2017-01-01 04:00:00,0.0,0.0,35.74,6.47,0.75,0.0,6.216

In [8]:
df_wd.describe().T

,count,mean,std,min,25%,50%,75%,max
Precip Intensity,21686.0,0.000092,0.009603,0.00,0.000,0.000,0.000,1.00
Precip Prob,21686.0,0.028037,0.165081,0.00,0.000,0.000,0.000,1.00
Temperature,21686.0,48.797408,11.248467,11.35,40.200,50.860,57.120,82.27
Wind Speed,21686.0,9.704390,5.335895,0.00,5.820,8.910,12.750,40.27
Cloud Cover,21686.0,0.642982,0.206508,0.00,0.590,0.750,0.750,1.00
UV Index,21686.0,0.769068,1.400542,0.00,0.000,0.000,1.000,7.00
Visibility,21686.0,6.014229,0.892211,0.00,6.216,6.216,6.216,10.00

In [9]:
# Precip Intensity has a mean ~ 0 so drop as it will skew predicition
df_wd_feat = df_wd.drop(columns=['Precip Intensity'])

In [10]:
df_wd_feat['DateTime']= pd.to_datetime(df_wd_feat['DateTime'], infer_datetime_format=True) 
df_46A['DateTime']= pd.to_datetime(df_46A['DateTime'], infer_datetime_format=True)

In [11]:
df_wd.head(5)

,DateTime,Precip Intensity,Precip Prob,Temperature,Wind Speed,Cloud Cover,UV Index,Visibility
0,2017-01-01 00:00:00,0.0,0.0,39.72,7.03,0.75,0.0,6.216
1,2017-01-01 01:00:00,0.0,0.0,39.79,3.84,0.75,0.0,5.049
2,2017-01-01 02:00:00,0.0,0.0,38.21,5.91,0.75,0.0,6.216
3,2017-01-01 03:00:00,0.0,0.0,37.28,7.53,0.75,0.0,6.216
4,2017-01-01 04:00:00,0.0,0.0,35.74,6.47,0.75,0.0,6.216

In [12]:
mask = (df_wd_feat['DateTime'] > '2018-12-01') & (df_wd_feat['DateTime'] <= '2018-12-31')

In [13]:
df_wd_dec = df_wd_feat.loc[mask]

In [14]:
df_wd_dec.head(5)

,DateTime,Precip Prob,Temperature,Wind Speed,Cloud Cover,UV Index,Visibility
16768,2018-12-01 01:00:00,0.0,40.94,8.83,0.75,0.0,6.253
16769,2018-12-01 02:00:00,0.0,41.13,8.16,0.75,0.0,6.264
16770,2018-12-01 03:00:00,1.0,41.73,7.25,0.75,0.0,6.794
16771,2018-12-01 04:00:00,1.0,43.31,6.36,0.75,0.0,5.923
16772,2018-12-01 05:00:00,1.0,40.86,9.46,0.75,0.0,5.889

In [15]:
df_wd_dec.tail(5)

,DateTime,Precip Prob,Temperature,Wind Speed,Cloud Cover,UV Index,Visibility
17483,2018-12-30 20:00:00,0.0,51.31,6.79,0.75,0.0,6.349
17484,2018-12-30 21:00:00,0.0,51.19,7.41,0.75,0.0,6.085
17485,2018-12-30 22:00:00,0.0,51.13,10.30,0.75,0.0,6.166
17486,2018-12-30 23:00:00,0.0,45.97,7.96,0.75,0.0,6.308
17487,2018-12-31 00:00:00,0.0,46.00,7.94,0.75,0.0,6.311

## Add two frame together

In [16]:
df_46A.iloc[0]

DateTime          2018-12-24 00:00:00
Sequence                           14
StopID                           6059
Planned_Arr                     54291
Actual_Arr                      54158
Actual_Depart                   54244
Extracted_Date              24-DEC-18
Day                            Monday
Day_Friday                          0
Day_Monday                          1
Day_Saturday                        0
Day_Sunday                          0
Day_Thursday                        0
Day_Tuesday                         0
Day_Wednesday                       0
Name: 0, dtype: object

In [17]:
df_wd_dec.iloc[551]

DateTime       2018-12-24 00:00:00
Precip Prob                      0
Temperature                  39.46
Wind Speed                    5.61
Cloud Cover                    0.6
UV Index                         0
Visibility                    6.22
Name: 17319, dtype: object

In [18]:
df_46A.iloc[0].DateTime == df_wd_dec.iloc[551].DateTime

True

In [19]:
df_46A_merge = pd.merge(df_46A, df_wd_dec, how='outer', on='DateTime')

In [20]:
df_46A_merge.head(5)

,DateTime,Sequence,StopID,Planned_Arr,Actual_Arr,Actual_Depart,Extracted_Date,Day,Day_Friday,Day_Monday,...,Day_Sunday,Day_Thursday,Day_Tuesday,Day_Wednesday,Precip Prob,Temperature,Wind Speed,Cloud Cover,UV Index,Visibility
0,2018-12-24,14.0,6059.0,54291.0,54158.0,54244.0,24-DEC-18,Monday,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,39.46,5.61,0.6,0.0,6.22
1,2018-12-24,15.0,334.0,54462.0,54348.0,54401.0,24-DEC-18,Monday,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,39.46,5.61,0.6,0.0,6.22
2,2018-12-24,16.0,406.0,54728.0,54588.0,54646.0,24-DEC-18,Monday,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,39.46,5.61,0.6,0.0,6.22
3,2018-12-24,17.0,747.0,54875.0,54773.0,54820.0,24-DEC-18,Monday,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,39.46,5.61,0.6,0.0,6.22
4,2018-12-24,18.0,842.0,54961.0,54964.0,54983.0,24-DEC-18,Monday,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,39.46,5.61,0.6,0.0,6.22

In [21]:
# The weather data contains NaN values so replacing with the mean
df_46A_merge = df_46A_merge.fillna(df_46A_merge.mean())

In [22]:
df_46A_merge.to_csv('df_46A_final.csv', index=False)

# Machine Learning Section

In [28]:
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import mean_squared_log_error
pd.options.mode.chained_assignment=None
%matplotlib inline

# Section for Random Forest

In [29]:
input_to_model_RF=pd.DataFrame(df_46A[['Sequence','StopID','Planned_Arr','Day_Monday','Day_Saturday','Day_Sunday', 
                                    'Day_Tuesday', 'Day_Thursday','Day_Wednesday']])
#Day_Friday has been taken out because if mon-sun all are zeroes that means friday is 1. Using dummy one hot encoding concept
#print(input_model)
output_RF = df_46A['Actual_Arr']
X_train_RF,X_test_RF,Y_train_RF,Y_test_RF=train_test_split(input_to_model_RF,output_RF,test_size=0.2)
rf=RandomForestRegressor(max_depth=15,n_estimators=20)
rf.fit(X_train_RF,Y_train_RF)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=15,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=20,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [30]:
prediction_RF=rf.predict(X_test_RF)

In [31]:
#Model Evaluation Parameters: RMSE
print(np.sqrt(metrics.mean_squared_error(Y_test_RF,prediction_RF)))

393.34070706661043

In [32]:
#MSLE
mean_squared_log_error(Y_test_RF,prediction_RF)

7.184532227221774e-05

## Now to test with the weather data to see if it is worth adding to the VM

In [33]:
input_to_model_RFw=pd.DataFrame(df_46A_merge[['Sequence','StopID','Planned_Arr','Day_Monday','Day_Saturday','Day_Sunday',
                                          'Day_Tuesday','Day_Thursday','Day_Wednesday', 'Precip Prob', 'Temperature',
                                         'Wind Speed', 'Cloud Cover', 'UV Index', 'Visibility']])

output_RFw = df_46A_merge['Actual_Arr']
X_train_RFw,X_test_RFw,Y_train_RFw,Y_test_RFw=train_test_split(input_to_model_RFw,output_RFw,test_size=0.2)
rf=RandomForestRegressor(max_depth=15,n_estimators=20)
rf.fit(X_train_RFw,Y_train_RFw)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=15,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=20,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [34]:
prediction_RFw=rf.predict(X_test_RFw)

In [35]:
print(np.sqrt(metrics.mean_squared_error(Y_test_RFw,prediction_RFw)))

312.7956272850261

## Weather data only improves model by 20 seconds so won't be added as it increases the file sizes of the pickles for the model and would be wasteful of time to implement

# Linear Regression Section

In [36]:
input_to_model_LR=pd.DataFrame(df_46A[['Sequence','StopID','Planned_Arr','Day_Monday','Day_Saturday','Day_Sunday', 
                                    'Day_Tuesday', 'Day_Thursday','Day_Wednesday']])

output_LR = df_46A['Actual_Arr']
X_train_LR,X_test_LR,Y_train_LR,Y_test_LR=train_test_split(input_to_model_LR,output_LR,test_size=0.2)
lr=LinearRegression()
lr.fit(X_train_LR,Y_train_LR)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [39]:
prediction_LR=lr.predict(X_test_LR)

In [40]:
print(np.sqrt(metrics.mean_squared_error(Y_test_LR,prediction_LR)))

443.19990953813715

# Support Vector Machine

In [42]:
# The SVM takes too long for the whole set so testing it on a 
# random sample of 100000
svm_sample = df_46A.sample(n=10000)

In [43]:
input_to_model_SVM=pd.DataFrame(svm_sample[['Sequence','StopID','Planned_Arr','Day_Monday','Day_Saturday',
                                            'Day_Sunday', 'Day_Tuesday','Day_Thursday','Day_Wednesday']])

output_SVM = pd.DataFrame(svm_sample['Actual_Arr'])

In [44]:
feat_scaler = StandardScaler()
tar_scaler = StandardScaler()

In [45]:
input_to_model_SVM = feat_scaler.fit_transform(input_to_model_SVM)
output_SVM = tar_scaler.fit_transform(output_SVM)

In [46]:
X_train_SVM,X_test_SVM,Y_train_SVM,Y_test_SVM=train_test_split(input_to_model_SVM,output_SVM,test_size=0.2)

In [54]:
svm_model = svm.SVR(kernel='linear')
svm_model.fit(X_train_SVM,Y_train_SVM)

/anaconda3/envs/dublinbus/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='linear', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [55]:
prediction_SVM=svm_model.predict(X_test_SVM)

In [56]:
svm_model.score(X_test_SVM,Y_test_SVM)

0.997755547370531

In [57]:
print(np.sqrt(metrics.mean_squared_error(Y_test_SVM,prediction_SVM)))

0.047761886531414076

# Neural Network for Regression

In [58]:
input_to_model_NN=pd.DataFrame(df_46A[['Sequence','StopID','Planned_Arr','Day_Monday','Day_Saturday','Day_Sunday', 
                                    'Day_Tuesday', 'Day_Thursday','Day_Wednesday']])

output_NN = df_46A['Actual_Arr']
X_train_NN,X_test_NN,Y_train_NN,Y_test_NN=train_test_split(input_to_model_NN,output_NN,test_size=0.2)
nn_model = MLPRegressor(solver='lbfgs',alpha=1e-5,random_state=1)
nn_model.fit(X_train_NN,Y_train_NN)

MLPRegressor(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(100,), learning_rate='constant',
             learning_rate_init=0.001, max_iter=200, momentum=0.9,
             n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
             random_state=1, shuffle=True, solver='lbfgs', tol=0.0001,
             validation_fraction=0.1, verbose=False, warm_start=False)

In [61]:
prediction_NN=nn_model.predict(X_test_NN)

In [62]:
print(np.sqrt(metrics.mean_squared_error(Y_test_NN,prediction_NN)))

444.5313872085841

In [63]:
mean_squared_log_error(Y_test_NN,prediction_NN)

9.091714759722933e-05

# Pickling Section

import pickle
pickle.dump(rf,open('prediction_46A.pickle','wb'))

#Testing with cPickle to see if its faster to unpickle files in django against pickle. Its what we are using now

import _pickle as cPickle
import gc
cPickle.dump(rf,open('prediction_46A_cPickle.pickle','wb'))